server:
  port: 8080

logging:
  config: classpath:logback.xml

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
management:
  endpoint:
    info:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
